.text-muted {
  margin-top: 0.25rem;
  font-size: 0.875em;
  position: relative;
}

.loading {
  height: 100px;
  position: absolute;
  right: 0;
  transform: translate(+20%, calc(-100% + 27.5px));
}
